* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Indie Flower', cursive;
}

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.flexbox > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: black;
  color: white;
}

.main {
  width: 80vw;
}

.footer {
  background: black;
  color: white;
}

.footer:hover {
  background: white;
  color: black;
}

.footer:hover a {
  color: black;
}

.textfield {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

#home {
  text-align: left;
  background: url("../images/partTwo/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 10px;
}

#living_room {
  text-align: left;
  background: url("../images/partTwo/living_room.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 10px;
}

#office {
  text-align: left;
  background: url("../images/partTwo/office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 10px;
}

#contact {
  text-align: left;
  background: url("../images/partTwo/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.flags {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  height: 60%;
  width: 100%;
}

.uk {
  background: url("../images/partTwo/UK.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 30%;
  width: 30%;
}

.uk:hover {
  background: url("../images/partTwo/UK.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 33%;
  width: 33%;
}

.germany {
  background: url("../images/partTwo/Germany.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 30%;
  width: 30%;
}

.germany:hover {
  background: url("../images/partTwo/Germany.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 33%;
  width: 33%;
}

.poland {
  background: url("../images/partTwo/Poland.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 30%;
  width: 30%;
}

.poland:hover {
  background: url("../images/partTwo/Poland.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 33%;
  width: 33%;
}

.icons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 10%;
  width: 100%;
}

.html {
  background: url("../images/partTwo/html5.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 20%;
}

.css {
  background: url("../images/partTwo/css3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 20%;
}

.js {
  background: url("../images/partTwo/js.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 20%;
}

.jQuery {
  background: url("../images/partTwo/jQuery.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 20%;
}

.react {
  background: url("../images/partTwo/react.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 20%;
}

.sass {
  background: url("../images/partTwo/sass.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 20%;
}

.git {
  background: url("../images/partTwo/git.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 20%;
}

.aside {
  background: white;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0px;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }
  .aside {
    order: 1;
  }
  .main {
    order: 2;
  }
  .footer {
    order: 3;
  }
  .flags {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}

.navigation {
  list-style: none;
  margin: 0;
  background: black;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: white;
  color: black;
}

.navigation a {
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation li:last-of-type a {
  border-bottom: none;
}

.adress {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin: 10px;
  position: relative;
}

.pin {
  background: url("../images/partTwo/pin.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  margin: 10px;
}

.email {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin: 10px;
  position: relative;
}

.gmail {
  background: url("../images/partTwo/gmail.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  margin: 10px;
}

.linkedin {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin: 10px;
  position: relative;
}

.li_icon {
  background: url("../images/partTwo/linkedin.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  margin: 10px;
}

.phone {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin: 10px;
  position: relative;
}

.number {
  background: url("../images/partTwo/number.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  margin: 10px;
}

.github {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin: 10px;
  position: relative;
}

.gh_icon {
  background: url("../images/partTwo/github.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  margin: 10px;
}

.copy {
  float: right;
}

.village {
  float: left;
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=../maps/me.css.map */
