* {
  padding: 0;
  margin: 0;
}

body {
  font: 60% "Press Start 2P", cursive;
}

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.flexbox > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: black;
  color: white;
}

.footer {
  background: black;
  color: white;
}

.footer .copy {
  float: right;
}

.footer .village {
  float: left;
  text-decoration: none;
  color: white;
}

.footer:hover {
  background: white;
  color: black;
}

.footer:hover a {
  color: black;
}

.textfield {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.textfield h1 {
  font-size: 2em;
  padding: 2em;
}

.textfield h2 {
  padding-top: 1.5em;
}

.textfield p {
  padding-top: 1em;
  padding-bottom: 1em;
}

#home, #living_room, #office, #contact {
  background: url("../images/partTwo/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 10px;
}

#living_room {
  background: url("../images/partTwo/living_room.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 10px;
}

#office {
  background: url("../images/partTwo/office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 10px;
}

#contact {
  background: url("../images/partTwo/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 10px;
}

#contact {
  margin-bottom: 0px;
}

.flags {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  height: 60%;
  width: 100%;
}

.flags .uk, .flags .germany, .flags .poland {
  background: url("../images/partTwo/uk.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 30%;
  width: 30%;
}

.flags .uk:hover, .flags .germany:hover, .flags .poland:hover {
  height: 33%;
  width: 33%;
}

.flags .germany {
  background: url("../images/partTwo/germany.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 30%;
  width: 30%;
}

.flags .germany:hover {
  height: 33%;
  width: 33%;
}

.flags .poland {
  background: url("../images/partTwo/poland.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 30%;
  width: 30%;
}

.flags .poland:hover {
  height: 33%;
  width: 33%;
}

.icons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 10%;
  width: 100%;
}

.icons .html5, .icons .css3, .icons .js, .icons .jQuery, .icons .react, .icons .sass, .icons .git {
  background: url("../images/partTwo/html5.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 20%;
}

.icons .css3 {
  background: url("../images/partTwo/css3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 20%;
}

.icons .js {
  background: url("../images/partTwo/js.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 20%;
}

.icons .jQuery {
  background: url("../images/partTwo/jQuery.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 20%;
}

.icons .react {
  background: url("../images/partTwo/react.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 20%;
}

.icons .sass {
  background: url("../images/partTwo/sass.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 20%;
}

.icons .git {
  background: url("../images/partTwo/git.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 20%;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0px;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }
  .aside {
    order: 1;
  }
  .main {
    order: 2;
  }
  .footer {
    order: 3;
  }
  .flags {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .textfield {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.sticky .navigation {
  list-style: none;
  margin: 0;
  background: black;
}

.sticky .navigation a {
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sticky .navigation a:hover {
  background: white;
  color: black;
}

.navigation li:last-of-type a {
  border-bottom: none;
}

.adress, .email, .li_icon, .phone, .gh_icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin: 10px;
  position: relative;
}

.adress .pin, .email .pin, .li_icon .pin, .phone .pin, .gh_icon .pin, .email .gmail, .li_icon .linkedin, .phone .number, .gh_icon .github {
  background: url("../images/partTwo/pin.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  margin: 10px;
}

.adress .gmail, .email .gmail, .li_icon .gmail, .phone .gmail, .gh_icon .gmail {
  background: url("../images/partTwo/gmail.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  margin: 10px;
}

.adress .linkedin, .email .linkedin, .li_icon .linkedin, .phone .linkedin, .gh_icon .linkedin {
  background: url("../images/partTwo/linkedin.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  margin: 10px;
}

.adress .number, .email .number, .li_icon .number, .phone .number, .gh_icon .number {
  background: url("../images/partTwo/number.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  margin: 10px;
}

.adress .github, .email .github, .li_icon .github, .phone .github, .gh_icon .github {
  background: url("../images/partTwo/github.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 40px;
  margin: 10px;
}

/*# sourceMappingURL=../maps/me.css.map */
